[Unit]
Description=User suspend actions
Before=sleep.target

[Service]
User=sparklez
Type=forking
Environment=DISPLAY=:0
#ExecStartPre=/usr/bin/sleep 1
ExecStart=/usr/bin/sleep 12
#ExecStartPost=/usr/bin/sleep 1

[Install]
WantedBy=sleep.target
